li {
  list-style: none;
}

div {
  display: inline;
}

p {
  display: inline;
}

span {
  display: block;
  text-align: center;
}

img {
  margin-left: 80px;
}

.one {
  margin-left: -30px;
}

.three {
  margin-left: 100px;
}

.five {
  
}

.six {
  padding: 35px;
}

.seven {
  padding: 35px;
}

.nine {
  padding: 80px;
}

.ten {
  padding: 80px;
}


